@import "tailwindcss";

/* Ensure pagination is below the images */
.custom-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 10px;
  bottom: auto !important;
  text-align: center;
}

.custom-swiper .swiper-pagination-bullet {
  background: #888;
  opacity: 1;
  margin: 0 6px;
  width: 20px;
  height: 3px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: #ffc107;
}

/* You can use Tailwind scroll styles too */
.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slider-left {
  width: fit-content;
  display: flex;
  animation: scroll-left 30s linear infinite;
}

.slider-right {
  width: fit-content;
  display: flex;
  animation: scroll-right 30s linear infinite;
}

.vertical-timeline::before {
  background-color: #39393d !important; /* yellow-400 */
}
